node_modules/
.env
*.log

# API
apps/api/dist/
apps/api/uploads/

# Expo
apps/app/.expo/
apps/app/dist/
apps/app/web-build/
apps/app/google-service-account.json
apps/app/*.jks

# OS / Editor
.DS_Store
.vscode/
.idea/
